@charset "UTF-8";
/* CSS Document */
body
{
	background-color: dimgray;
}
nav#headerNav{
	margin:	0;
	background-color: #333;
	overflow: hidden;
	opacity: 0.85;
}
nav#headerNav a
{
	text-decoration: none;
	font-size: 2em;
	border-top:1px solid red;
	float: left;
	margin: 10px;
	color: antiquewhite;
	padding-left: 10px;
	padding-right: 10px;
}
nav#headerNav a:hover
{
	background-color: antiquewhite;
	color: #333;
}
nav#headerNav:hover
{
	opacity: 1.0;
}
.rightanker
{
	float: right;
}
.main {
  	margin: 100px 30px 30px;
}