header{
	border-bottom: 10px groove white;
}

.bill h6{
	
	border-bottom: 1px dotted black;
}

.bill{
	border: 5px outset;
	margin: 1%;
}

#billList{
	width:45%;
	float:left;
	border: 5px solid black;
	margin: 1% 0% 1% 1%;
}

#selectPaymentMethod{
	position: fixed;
	width:46%;
	border: 5px solid black;
	padding-left: 1%;
	padding-bottom: 1%;
	margin: 1% 1% 1% 48%;
}

footer{
	clear:both;
}