
.entry {
  display:  flex;
  flex-direction: row;
  padding: 0.25em;
  margin: 0.25em;
}

table {
  width:  100%;
  border-collapse: collapse;
  border: 1px solid antiquewhite;
}

th, td {
  border: 1px solid antiquewhite;
  padding:  0.125em;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /*background-color: #4CAF50;*/
    color: white;
}

tr:hover {
  background-color: #ddd;
}

tr:nth-child(even){
  /*background-color: #f2f2f2;*/
}

section {
  overflow: auto;
}
